# Database
POSTGRES_USER=chikorita
POSTGRES_PASSWORD=your_password
TOKI_DB_URL=postgresql://chikorita:your_password@postgres:5432/chikorita_toki

# App
APP_PORT=8002
SECRET_KEY=your_secret_key_here

# OpenWeatherMap
OPENWEATHER_API_KEY=your_api_key_here
OPENWEATHER_CITY=Seoul
OPENWEATHER_COUNTRY=KR
